
body {
    background-color: #fffbf7;
    font-family:  'Kdam Thmor Pro', sans-serif;
  }
  
  h1 {
    color: #025157;
    text-align: center;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;/*/
    margin: 40px 20px 0;
    font-size: 0;
  }
  
  li {
    display: inline;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }
  
  .logo {
    width: 15%;
  }
  
  .logo > img {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    font-family: sans-serif;
    
  }
  .main{
    margin-top: 140px;
    text-align: center;
  }
  .menu-item{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }
  
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;

  }
  
  .promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    /*align-items: center;*/
  } 

  .publish {
    margin-left: 20px;
  }
  .publish h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #085157;
  }
  .publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .publish > form{
    display: flex;
  }

  .publish > form p{
    color: #025157;
    margin-right: 18px;
  }
